<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/spittr.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<!--  Navigation bar here  -->
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid">
    <div class="jumbotron">
        <h1 th:text="#{spittr.errorPage.headler}">Something goes wrong...</h1>
        <p>
            <span th:text="#{spittr.errorPage.message}">Error message</span>
            <span th:text="${exception.toString()}"></span>
        </p>
        <p th:text="#{spittr.errorPage.seeLog}">See log for further information.</p>
    </div>
</div>

<!--  Footer here  -->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>